<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
    <div class="card card-small h-100">
      <div class="card-header border-bottom">
        <div fxFlexLayout="row">
          <div style="font-size: 24px" class="m-0">Setup Client</div>
        </div>
        <div style="display: inline-block">BreadCamp</div>
      </div>
      <div class="card-body">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">people</mat-icon>
              Client Basic
            </ng-template>
            Content 1
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">fingerprint</mat-icon>
              Client Secrets
            </ng-template>
            Content 2
          </mat-tab>
          <mat-tab>
            <ng-template class.active-tab="1 == 1" mat-tab-label>
              <mat-icon class="tab-icon">note_add</mat-icon>
              Claims
            </ng-template>

            Content 3
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">verified_user</mat-icon>
              Grant Types
            </ng-template>

            Content 3
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">security</mat-icon>
              Cors Origin
            </ng-template>

            Content 3
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">public</mat-icon>
              Redirect Uris
            </ng-template>

            Content 3
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">gps_fixed</mat-icon>
              Scopes
            </ng-template>

            Content 3
          </mat-tab>
        </mat-tab-group>
        <br>
      </div>
      <div class="card-footer border-top">
        <div class="row">
        </div>
      </div>
    </div>
  </div>