<form [formGroup]="clientForm" #formDir="ngForm" novalidate>
  <h1 mat-dialog-title>Add Identity Server Client</h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="feFirstName">CLIENT ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" [ngClass]="{'is-invalid':clientForm.controls['ClientId'].hasError('required') && (clientForm.controls['ClientId'].touched || formDir.submitted)}"
                formControlName="ClientId" placeholder="Generate or Input Client Id">
              <div class="input-group-append">
                <button class="btn btn-white" (click)="GenerateGuid()" type="button">Generate</button>
              </div>
              <div class="invalid-feedback" *ngIf="clientForm.controls['ClientId'].hasError('required') && (clientForm.controls['ClientId'].touched || formDir.submitted)">
                Client Id is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="feEmailAddress">DISPLAY NAME</label>
            <input type="email" class="form-control" [ngClass]="{'is-invalid':clientForm.controls['ClientName'].hasError('required') && (clientForm.controls['ClientName'].touched || formDir.submitted)}"
              formControlName="ClientName" placeholder="Display Name">
            <div class="invalid-feedback" *ngIf="clientForm.controls['ClientName'].hasError('required') &&  (clientForm.controls['ClientName'].touched || formDir.submitted)">
              Client Name is required
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="fePassword">LOGO URL</label>
            <input type="text" class="form-control" formControlName="LogoUri" id="fePassword" placeholder="Display Logo">
          </div>
        </div>
        <div class="form-group">
          <label for="feInputAddress">DISPLAY URL</label>
          <input type="text" class="form-control" formControlName="ClientUri" placeholder="Client Uri">
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="feDescription">Description</label>
            <textarea class="form-control" [ngClass]="{'is-invalid':clientForm.controls['Description'].hasError('required') && (clientForm.controls['Description'].touched || formDir.submitted)}"
              formControlName="Description" placeholder="Description" rows="5">

            </textarea>
            <div *ngIf="clientForm.controls['Description'].hasError('required') && (clientForm.controls['Description'].touched || formDir.submitted)"
              class="invalid-feedback">
              Description is required
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button type="button" class="mb-2 btn btn-danger mr-2" mat-dialog-close>Cancel</button>
    <span fxFlex></span>
    <!-- <button type="button" mat-raised-button color="primary" >Save & Configure</button>
    <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Save Only</button> -->
    <button type="submit" (click)="AfterSubmitAndConfig(clientForm.value , clientForm.valid)" class="mb-2 btn btn-primary mr-2">Save & Configure</button>
    <button type="submit" (click)="AfterSubmitClient(clientForm.value , clientForm.valid)" class="mb-2 btn btn-primary mr-2">Save Only</button>
  </div>
</form>