<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
    <div class="card card-small h-100">
      <div class="card-header border-bottom">
        <div fxFlexLayout="row">
          <div style="font-size: 24px" class="m-0">Client List</div>
          <span fxFlex></span>
          <button mat-raised-button color="primary" (click)="AddClient()"><i style="top: 0px !important; font-size: 17px" class="material-icons">add</i> Add Client</button>
        </div>
        <div style="display: inline-block">BreadCamp</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-10">
            <div class="input-group mb-3">
              <div class="input-group input-group-seamless">
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">search</i>
                  </span>
                </span>
                <input type="text" class="form-control" id="form1-username" placeholder="Search Client" value="">
              </div>
            </div>
          </div>
          <div class="co-lg-2">

          </div>
        </div>
        <table class="table mb-0 table-hover">
          <thead class="bg-light">
            <tr>
              <th scope="col" class="border-0">#</th>
              <th scope="col" class="border-0">Client Id</th>
              <th scope="col" class="border-0">Client Name</th>
              <th scope="col" class="border-0">Description</th>
              <th scope="col" class="border-0"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Ali</td>
              <td>Kerry</td>
              <td>Russian Federation</td>
              <td>
                <button mat-icon-button class="mr-1" color="primary"><mat-icon>settings</mat-icon></button>
                <button mat-icon-button class="mr-1" color="accent"><mat-icon>delete</mat-icon></button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Clark</td>
              <td>Angela</td>
              <td>Estonia</td>
              <td>
                <button mat-icon-button class="mr-1" color="primary"><mat-icon>settings</mat-icon></button>
                <button mat-icon-button class="mr-1" color="accent"><mat-icon>delete</mat-icon></button>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Jerry</td>
              <td>Nathan</td>
              <td>Cyprus</td>
              <td>
                <button mat-icon-button class="mr-1" color="primary"><mat-icon>settings</mat-icon></button>
                <button mat-icon-button class="mr-1" color="accent"><mat-icon>delete</mat-icon></button>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Colt</td>
              <td>Angela</td>
              <td>Liberia</td>
              <td>
                <button mat-icon-button class="mr-1" color="primary"><mat-icon>settings</mat-icon></button>
                <button mat-icon-button class="mr-1" color="accent"><mat-icon>delete</mat-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
      <div class="card-footer border-top">
        <div class="row">

        </div>
      </div>
    </div>
  </div>