<div class="container-fluid">
  <div class="row">
    <page-sidebar></page-sidebar>
    <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
      <page-navbar></page-navbar>
      <div class="main-content-container container-fluid px-4">
        <page-header></page-header>
        <router-outlet></router-outlet>
      </div>
      <page-footer></page-footer>
    </main>
  </div>
</div>